<!DOCTYPE html>
 <html>
 <head>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
 	<title>My web</title>
 	<link rel="stylesheet" type="text/css" href="css/my.css">
 </head>
 <body bgcolor="#001A2F">
 	<audio src="WINNER - Smile Again.mp3" autoplay="autoplay" ></audio>
 	<a href="#">
	 	<div class="enter" >
	 		<div>
			 	<span class="entertitle" >
			 		Richie Huang's web<br/>
			 		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2018.1.20
			 	</span>
		 	</div>
	 	</div>
 	</a>
 	<div id="alltop" class ="none">
 		<span class="alltopword">
 			I &nbsp;&nbsp;apply &nbsp;&nbsp;to &nbsp;&nbsp;get &nbsp;&nbsp;into &nbsp;&nbsp;your &nbsp;&nbsp;life
 		</span>
 	</div>
 	<div id="displaya" class="displayb">
 		<div class="boxone">
	 		<a href="#" class="boxa">
				<span class="big">
					R
	 			</span>					
	 		</a>
		</div>
 		<a href="#" class="boxa">
	 		<span class="little">
	 			ICHIE
			</span>
 		</a>
 		<div class="tt">
 			<a href="#alltop" class="t" id="te">
 				HOME
 			</a>
 			<a href="#about" class="t" id="tf">
 				ABOUT
 			</a>
 			<a href="#love" class="t" id="tg">
 				LOVE
 			</a>
 			<a href="#ex" class="t" id="th">
 				EXPERINCE	
 			</a>
 		</div>
 	</div>
 	<div id="all" class="none">
 		<div class="top" id="top">
 			<div class="mask">
 				<div class="masktop">
 					<div class="boxone">
 						<a href="#" class="boxa">
 							<span class="big">
 								R
 							</span>
 						</a>
 					</div>
 					<a href="#" class="boxa">
	 					<span class="little">
	 						ICHIE
	 					</span>
 					</a>
 					<div class="toptitle">
 						<a href="#alltop" class="title" id="ta">
 							HOME
 						</a>
 						<a href="#about" class="title" id="tb">
 							ABOUT
 						</a>
 						<a href="#love" class="title" id="td">
 							LOVE
 						</a>
 						<a href="#ex" class="title" id="tc">
 							EXPERINCE
 						</a>
 					</div>
 					<div class="topcon">
 						<img src="img/3.jpg" class="pic">
 						<div class="boxthree">
 						
 						</div>
 						<div class="introduce">
	 						<div class="boxtwo">
	 							<span style="color:white;margin-left:15px;font-weight:800;font-size:20px;">
	 								Hi!
	 							</span>
	 						</div>
	 						<h4 class="h1word">
	 							UX & UI DESIGNER
	 						</h4>
	 						<hr width="100%" height="10">
	 						<div class="topcontent">
	 							<table>
	 								<ul class="topul">
	 									<li class="topli">
	 										NAME
	 									</li>
	 									<li class="topli">
	 										PHONE
	 									</li>
	 									<li class="topli">
	 										ADDRESS
	 									</li>
	 									<li class="topli">
	 										E-MAIL
	 									</li>
	 									<li class="topli">
	 										WEBSITE
	 									</li>
	 								</ul>

	 							</table>
	 						</div>
 					</div>
 					</div>
 					
 				</div>
 			</div>
 		</div>
 		<div class="about" id="about">
 			<span class="abword">
 				About me
 			</span>
 			<div class="change">
 				<a href="#about" id="cha" >
 					CLICK ME!
 				</a>
 				<a href="#about" id="chb" class="none">
 					听说
 				</a>
 				<a href="#about" id="chc" class="none">
 					我越长越丑？
 				</a>
 				<img src="img/4.jpg" id="picturea" class="none">
 				<img src="img/5.jpeg" id="pictureb" class="none">
 				<img src="img/6.jpg" id="picturec" class="none">
 				<img src="img/7.jpg" id="pictured" class="none">
 				<img src="img/8.jpg" id="picturee" class="none">
 				<!-- <img src="img/9.jpg" id="picturef" class="none"> -->
 			</div>
 			<div class="jiantouleft"></div>
 			<div class="jiantouright"></div>
 		</div>
 		<div class="love" id="love">
 			<div class="boxfour">
 				<span class="boxfourword">
 					My love
 				</span>
 			</div>
 			<div class="fan">
 				<span class="fanword">
 					I am also a idolater
 				</span>
 			</div>
 			<center>
 				<hr style="width:700px;height:5px;background-color:#001A2F;">
 			</center>
 			<div class="year">
 				<span class="yearword">
 					2013
 				</span>
 			</div>
 			<div class="year">
 				<span class="yearword">
 					2014
 				</span>
 			</div>
 			<div class="year">
 				<span class="yearword">
 					2015
 				</span>
 			</div>
 			<div class="year">
 				<span class="yearword">
 					2016
 				</span>
 			</div>
 			<div class="year">
 				<span class="yearword">
 					2017
 				</span>
 			</div>
 			<img src="img/2013.jpg" class="jacksona">
 			<img src="img/2014.jpg" class="jacksonb">
 			<img src="img/2015.jpg" class="jacksonc">
 			<img src="img/2016.jpg" class="jacksond">
 			<img src="img/2017.jpg" class="jacksone">
 			<hr style="width:1px;height:800px;margin-top:-1000px;margin-left:400px;background-color:#001A2F;">
 			<div class="allsanjiao">
 				<div class="sanjiao">
 				</div>
 				<div class="sanjiao">
 				</div>
 				<div class="sanjiao">
 				</div>
 				<div class="sanjiao">
 				</div>
 				<div class="sanjiao">
 				</div>
 			</div>
 			<div class="loveall">

 			</div>
 		</div>
 		<div class="ex" id="ex">

 		</div>
 	</div>
 	<script type="text/javascript" src="js/jquery.js"></script>
 	<script type="text/javascript" src="js/my.js">
 	</script>
	<script type="text/template" id="moban1">
		<ul class="topul">
			<li class="topli">
				Richie
			</li>
			<li class="topli">
				<%= number%>
			</li>
			<li class="topli">
				<%= position%>
			</li>
			<li class="topli">
				<%= emile%>
			</li>
			<li class="topli">
				<%= emile2%>
			</li>
		</ul>
	</script>

	<script src="js/undercore.js"></script>
	<!--获取UL-->
	<script type="text/javascript" >
		//得到模板内容
		var mobanString = $("#moban1").html();
		//用库里面的模板函数
		var compiled = _.template(mobanString);
		//用jq里面的ajax  get方法获取数据
		$.get("/news",function (data, status) {
			//用循环将数据库里面的数据给导入进去
			for(var i = 0;i<data.length;i++) {
				//将利用类似render的方法获取数据并将这个的结果得到
				var compiledString = compiled(data[i]);
//				console.log(compiledString);
				//将这个内容加到content里面去
				//加$会让它变成一个对象
				$(".topcontent table").append($(compiledString));

			}
		})
	</script>
	<!--获取loveword-->
	<script type="text/template" id="moban2">
		<div class="lovecon">
		<hr style="width:200px;height:1px;margin-left:0;background-color:white;">
		<span class="loveconword">
		<%= loveword%>
		</span>
		</div>
	</script>
	<script type="text/javascript" >
		//得到模板内容
		var mobanString1 = $("#moban2").html();
		//用库里面的模板函数
		var compiled1 = _.template(mobanString1);
		//用jq里面的ajax  get方法获取数据
		$.get("/loveword",function (data, status) {
			//用循环将数据库里面的数据给导入进去
			for(var i = 0;i<data.length;i++) {
				//将利用类似render的方法获取数据并将这个的结果得到
				var compiledString1 = compiled1(data[i]);
				//将这个内容加到content里面去
				//加$会让它变成一个对象
				$(".loveall").append($(compiledString1));

			}
		})
	</script>
	<!--&lt;!&ndash;获取experience&ndash;&gt;-->
	<script type="text/template" id="moban3">
		<div class="circle"></div>
		<div class="circle"></div>
		<div class="circle"></div>
		<div class="circle"></div>
		<div class="circle"></div>
		<div class="circle"></div>
		<div class="circle"></div>
		<div class="circle"></div>
		<div class="circle"></div>
		<div class="circle"></div>
		<hr style="width:5px;height:50px;background-color:#AD5E03;margin-left:400px;position:relative;top:-20px;">
		<div class="lovetit">
					<span class="bigtit">
						EXPERINCE
					</span>
			<span class="littit">
						I like everthing in the word
					</span>
		</div>
		<img src="img/draw1.jpg" class="draw1">
		<img src="img/draw2.jpg" class="draw1">
		<img src="img/draw3.jpg" class="draw1">
		<div class="draw">
					<span class="word">
						<%= experience1%>
					</span>
		</div>
		<img style="margin-left:185px;" src="img/dance1.jpg" class="draw1">
		<img src="img/dance2.jpg" class="draw1">
		<img src="img/dance3.jpg" class="draw1">
		<div class="dance">
					<span class="word">
						<%= experience2%>
					</span>
		</div>
		<img src="img/gitur1.jpg" class="draw1">
		<img src="img/gitur2.jpg" class="draw1">
		<div class="draw">
					<span class="word">
						<%= experience3%>
					</span>
		</div>
	</script>
	<script type="text/javascript" >
		//得到模板内容
		var mobanString2 = $("#moban3").html();
		//用库里面的模板函数
		var compiled2 = _.template(mobanString2);
		//用jq里面的ajax  get方法获取数据
		$.get("/experience",function (data, status) {
			//用循环将数据库里面的数据给导入进去
			for(var i = 0;i<data.length;i++) {
				//将利用类似render的方法获取数据并将这个的结果得到
				var compiledString2 = compiled2(data[i]);
				//将这个内容加到content里面去
				//加$会让它变成一个对象
				$(".ex").append($(compiledString2));

			}
		})
	</script>
 </body>
 </html>